<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='style.css', v=1)}}">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <dev class = "layer0">
        <nav class="menu_bordo">
            <ul class="menu">
                <li><a href="/">welcome page</a></li>
                <li class="parent_dropdown"><a href="/catalog">catalog</a>
                    <div class="dropdown_menu">
                        <ul>
                            <li><a href="/in">in</a></li>
                            <li><a href="/yan">yan</a></li>
                        </ul>
                    <div>
                </li>
                <li><a href="/about_us">about us</a></li>
                <li class="active"><a href="404">new! (will be added soon)</a></li>
                <li><a href="404">new too! will be added soon</a></li>
            </ul>
        </nav>
    </dev>

    {% block content %} {% endblock %}

    <dev class = "layer000">
        <img src="/img/ground.png" width="100%" alt="Tiger Toes" vspace="0%" hspace="0%">
    </dev>

    <dev class = "layer00">
        <img src="/img/footer.png" width="60%" alt="Tiger Toes" vspace="0%" hspace="0%">
    </dev>

</body>

</html>