{% extends "catalog_base.html" %}
{% block title %} {{super()}} Yan{% endblock %}
{% block content %}
    <dev class = "layer4">

        <img src="/img/in_label.png" width="60%" alt="Catalog" vspace="0%" hspace="10%">

    </dev>

    <dev class = "layer5">

        <img src="/img/in.png" width="35%" alt="IN" vspace="10%" hspace="10%">

    </dev>        

    <dev class = "layer6">

        <ul>
            <li>X Выглядит милее, чем Янь, но это ошибочное первое впечатление</li>
            <li>X ВСЕГДА имеет при себе формалин</li>
            <li>X Тот самый интеллигентный тигр, который обожает творчество Достоевского</li>
            <li>X Свободное время посвящает гендзюцу</li>
            <li>X Ест только яблоки</li>
            <li>X Не может быть богом смерти, так как атеист</li>
        </ul>

    </dev> 

    <dev class = "layer7">

        <img src="/img/in_price.png" width="80%" alt="PRICE" vspace="10%" hspace="10%">

    </dev> 

          
{% endblock %}