{% extends "catalog_base.html" %}
{% block title %} {{super()}} Yan{% endblock %}
{% block content %}
    <dev class = "layer4">

        <img src="/img/yan_label.png" width="60%" alt="Catalog" vspace="0%" hspace="10%">

    </dev>

    <dev class = "layer8">

        <img src="/img/yan.png" width="35%" alt="IN" vspace="10%" hspace="10%">

    </dev>        

    <dev class = "layer6">

        <ul>
            <li>X Выглядит грубее, чем Инь, но это ошибочное первое впечатление</li>
            <li>X ВСЕГДА имеет при себе эндорфин</li>
            <li>X Тот самый безумный тигр, который слушает Моцарта</li>
            <li>X Свободное время посвящает вязанию</li>
            <li>X Ест только мясо</li>
            <li>X Ненавидит отсутствие шума</li>
        </ul>

    </dev> 

    <dev class = "layer7">

        <img src="/img/in_price.png" width="80%" alt="PRICE" vspace="10%" hspace="10%">

    </dev> 

          
{% endblock %}